/*------ Service css --------*/
._design_service_wrapper {
	padding:90px 0px;
	background:var(--bg);
}
._design_service_header_top_content {
	text-align: center;
}
._design_service_header_top_box {
	background: rgba(105, 75, 255, 0.02);
	border: 1px solid #694BFF;
	border-radius: 18px;
	width:fit-content;
	padding: 8px 18px;
	margin:0 auto 20px auto;
}
._design_service_header_top_box_title {
	font-family: Poppins;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: -0.5px;
	color: #694BFF;
    margin:0;
}
._design_service_header_top_content_title {
	font-family: Poppins;
	font-weight: 600;
	font-size: 48px;
	line-height: 1.3;
	letter-spacing: -0.01em;
	color: #192430;
	max-width: 42%;
    margin: 0 auto 30px auto;
}
._design_service_header_top_content_para {
	font-family: Roboto;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.4;
	letter-spacing: 0.01em;
	color:#727272;
	max-width: 46%;
    margin: 0 auto 95px auto;
}
._design_service_bottom_inner {
    background: #FFFFFF;
    box-shadow: 0px 40px 100px rgb(216 216 216 / 20%);
    border-radius: 20px;
    padding: 40px 30px;
}
._design_service_bottom_inner_box {
    border-radius: 15px;
    width: fit-content;
    padding: 16px 20px;
	margin: -66px 0 50px 0;
}
._service_inner_box {
	background: linear-gradient(180deg, #56AEFF 0%, #406AFF 100%);
	box-shadow: 10px 25px 50px rgb(66 113 255 / 20%);
}
._service_inner_box1 {
	background: #F97C7E;
	box-shadow: 10px 25px 50px rgba(249, 124, 126, 0.2);
}
._service_inner_box2 {
	background:#FFA842;
	box-shadow: 10px 25px 50px rgba(249, 124, 126, 0.2);
}
._design_service_bottom_inner_title {
	font-family: Poppins;
	font-weight: 600;
	font-size: 22px;
	line-height: 1.4;
	color: #2F2E2E;
	margin:0 0 13px 0;
}
._design_service_bottom_inner_para {
	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.4;
	letter-spacing: 0.01em;
	color: #727272;
	opacity: 0.8;
	max-width: 80%;
    margin: 0 0 45px 0;
}
._design_service_inner_btn_link {
	display: inline-block;
	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.4;
    text-decoration: none;
}
._design_service_inner_btn_link svg {
	margin:0 0 0 13px;
}

._btn_link {
	color: #3269FF;
}
._btn_link1 {
	color: #FF7072;
}
._btn_link2 {
	color:#FFA53B;
}
._design_svg {
	width:35px;
	height:40px;
}
/*--- Responsive -----*/
@media(max-width:1199px) {
	._design_service_header_top_content_title {
		font-size: 40px;
	}
	._design_service_bottom_inner_para {
		font-size: 14px;
	}
}
@media(max-width:991px) {
	._design_service_header_top_content_title {
		font-size: 32px;
	}
	._design_service_bottom_inner {
		margin: 0 0 60px 0;
	}
	._design_service_header_top_content_para {
		max-width: 100%;
	}
}
@media(max-width:767px) {
	._design_service_header_top_content_title {
		font-size: 30px;
	}
	._design_service_wrapper {
		padding: 60px 0px;
	}
}
@media(max-width:575px) {
	._design_service_header_top_content_title {
		font-size: 18px;
	}
	._design_service_wrapper {
		padding: 50px 0px;
	}
	._design_service_header_top_content_para {
		font-size: 14px;
	}
	._design_service_bottom_inner {
		text-align: center;
	}
	._design_service_bottom_inner_box {
		margin: -66px auto 50px auto;
	}
	._design_service_bottom_inner_para {
		max-width: 100%;
	}
}
/*------ Service css End --------*/