/*------- Team css ---------*/
._team_care_wrapper {
	padding:100px 0px;
	background-color: var(--bg);
}
._team_care_content {
	text-align: center;
}
._team_care_content_txt {
    font-family: Sora;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    color: #5E6085;
	margin:0 0 16px 0;
}
._team_care_content_title {
    font-family: Sora;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 1.4;
    color: #000958;
	margin:0 0 45px 0;
}
._team_care_content_image {
	margin:0 0 34px 0;
	border-radius: 129.5px;
}
._team_img {
	max-width: 250px;
	margin: 0 auto;
	width: 100%;
    height: auto;
    display: block;
}
._team_care_content_inner_txt {
	text-align: center;
}
._team_care_txt {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #656689;
	margin:0 0 14px 0;
}
._team_care_title {
    font-family: Sora;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4;
    color: #000958;
}
._team_care_btn_grp {
	display: flex;
	justify-content: center;
	margin:48px 0 0 0;
}
._team_care_btn {
    border: 1px solid #ff5b2e61;
    border-radius: 31px;
    padding: 20px 40px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #FF5B2E;
	text-decoration: none;
    transition: .2s all ease;
}
._team_care_btn:hover {
	box-shadow: 0px 13px 26px -8px rgb(255 91 46 / 42%);
	border: 1px solid #FF5B2E;
	color: #FF5B2E;
}
/*------- Team css End ---------*/

/*------- Responsive ---------*/

@media(max-width:991px) {
	._team_care_content_inner {
		margin: 0 0 20px 0;
	}
}
@media(max-width:767px) {
	._team_care_content_title {
		font-size: 36px;
	}
}
@media(max-width:575px) {	
	._team_care_wrapper {
		padding: 50px 0px;
	}
	._team_care_content_title {
		font-size: 27px;
	}
}